<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width+device-width, initial-scale-1.0">
        <title>STOCKS</title>
<style>
body {
  background: #00151c;
}#chart {
    background: #0e3040;
    color: #67809f;
  }</style>
  
<script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
  <div id="chart" style="justify-content:center;height: 400px; width: 100%;"></div>
  <script>
    const loadData = d3.json('sample.json').then(data => {
    return chartResultsData['date'].map((date, index) => ({
      date: new Date(date),
      high: data['high'][index],
      low: data['low'][index],
      open: data['open'][index],
      close: data['close'][index],
      volume: data['volume'][index]
    }));
  });
  
  const initialiseChart = data => {
    const margin = { top: 50, right: 50, bottom: 50, left: 50 };
    const width = window.innerWidth - margin.left - margin.right;
    const height = window.innerHeight - margin.top - margin.bottom; 
    // add SVG to the page
    const svg = d3
      .select('#chart')
      .append('svg')
      .attr('width', width + margin['left'] + margin['right'])
      .attr('height', height + margin['top'] + margin['bottom'])
      .call(responsivefy)
      .append('g')
      .attr('transform', `translate(${margin['left']},  ${margin['top']})`);
  }
    // find data range
  const xMin = d3.min(data, d => {
    return d['date'];
  });
  const xMax = d3.max(data, d => {
    return d['date'];
  });
  const yMin = d3.min(data, d => {
    return d['close'];
  });
  const yMax = d3.max(data, d => {
    return d['close'];
  });
  // scales for the charts
  const xScale = d3
    .scaleDate()
    .domain([xMin, xMax])
    .range([0, width]);
  const yScale = d3
    .scaleLinear()
    .domain([yMin - 5, yMax])
    .range([height, 0]);
  
    svg
    .append('g')
    .attr('id', 'xAxis')
    .attr('transform', `translate(0, ${height})`)
    .call(d3.axisBottom(xScale));
    svg
      .append('g')
      .attr('id', 'yAxis')
      .attr('transform', `translate(${width}, 0)`)
      .call(d3.axisRight(yScale));
  
    const line = d3
    .line()
    .x(d => {
      return xScale(d['date']);
    })
    .y(d => {
      return yScale(d['close']);
    });
  // Append the path and bind data
    svg
    .append('path')
    .data([data])
    .style('fill', 'none')
    .attr('id', 'priceChart')
    .attr('stroke', 'steelblue')
    .attr('stroke-width', '1.5')
    .attr('d', line);
  

  </script>  
  </body>
  </html>